:root{
    --color-white: #ffffff;
    --color-black: #000000;

    --color-text-dark: #333;
    --color-text-medium: #555;
    --color-text-light: #666;

    /* Kniffel Rand Farbe */
    --color-primary-blue: #007bff;
    --color-primary-blue-shadow: rgba(0, 123, 255, 0.3);
    --color-primary-blue-light: #d1ecff;
    --color-primary-blue-lighter: #f0f8ff;

    --color-bg-light: #fdfdfd;
    --color-bg-medium: #f9f9f9;
    --color-bg-dark: #f0f0f0;
    --color-bg-darker: #e0e0e0;

    --color-border-light: #eee;
    --color-border-dark: #ccc;
    --color-shadow-light: rgba(0, 0, 0, 0.05);
    --color-shadow-dark: rgba(0, 0, 0, 0.2);
    --color-shadow-avatar: rgba(0, 0, 0, 0.2);

    --color-gradient-1: #d891ef;
    --color-gradient-2: #ffb6c1;
    --color-gradient-3: #b4eeb4;
    --color-gradient-4: #afeeee;
    --color-gradient-5: #000080;
}


