/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    background: linear-gradient(-45deg, #d891ef, #ffb6c1, #b4eeb4, #afeeee, #000080);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.mouse-heart
{
    position: absolute;
    pointer-events: none;
    filter: drop-shadow(0 0 8px rgba(0,0,0,0.3)) blur(1px);
    animation: fadeInOut 1s linear infinite;
}
@keyframes fadeInOut
{
    0%,100%
    {
        opacity: 0;
    }
    20%,80%
    {
        opacity: 0.7;
    }
}
.mouse-heart::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(/heart.png);
    background-size: cover;
    animation: moveShape 1.5s linear infinite, colorize 3s linear infinite;
}
@keyframes moveShape
{
    0%
    {
        transform: translate(0) rotate(0deg);
    }
    100%
    {
        transform: translate(100px) rotate(360deg);
    }
}

@keyframes colorize
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(100deg);
    }
}

#dice-box #scene-container {
  /* Passt die Größe an den 'flex'-Container an (unser 80%-Trick) */
  width: 82%;
  height: 82%;
  position: relative !important; /* Wichtig für die Positionierung */
}

#dice-box #scene-container canvas {
  /* Zwingt den Canvas, den Container der Bibliothek auszufüllen */
  width: 100% !important;
  height: 100% !important;
}